// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.categories {
  color: green;
  font-style: italic;
}

.created_by {
  color: blue;
  font-style: italic;
}

.status {
  color: gray;
  font-style: italic;
}